<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSDocumentsFolderUsageDescription</key>

    <string>We need access to store your health records.</string>

    <key>NSPhotoLibraryUsageDescription</key>

    <string>We need access to upload medical images.</string>
    
    <key>NSHealthShareUsageDescription</key>
    
    <string>We need access to upload medical records.</string>

	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
